<section class="order-page py-5">
  <div class="container">
    <div class="title d-flex justify-content-between pb-2 border-bottom mb-4">
      <h2 class="fw-bold  mb-0">الطلبات</h2>
    </div>
    <div class="add-item bg-light p-2 mb-3 rounded-2" >
      <form class="form" >
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex align-items-center input-date-primeng">
              <label for="nameAr" class="form-label col-3 me-3 text-nowrap">  التاريخ من والى </label>
              <div class="col-9">

                <p-calendar
                [(ngModel)]="rangeDates"
                name="rangeDates"
                selectionMode="range"
                [readonlyInput]="true"
                [showIcon]="true"
                inputId="icondisplay"
              ></p-calendar>
        </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex align-items-center">
              <label for="nameEn" class="form-label me-2 text-nowrap">  حالة الطلب</label>
              <select class="form-select" aria-label="Default select example"  (change)="changeStatus($event)">
                <option value="0" selected hidden>اختار حالة الطلب</option>
                <option value="2">قيد الانتظار</option>
                <option value="1">تم التجهيز</option>
              </select>

            </div>
          </div>

          <div class="col-lg-3">
            <div class=" d-flex align-items-center">

                <button class="btn btn-success ms-auto  px-4  d-inline-block" [disabled]="!rangeDates" (click)="FilterOrder()">بحث</button>
                <button class="btn btn-outline-primary ms-auto  px-4  d-inline-block" (click)="resetFilter()" >اعاده ضبط</button>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>

    <div class="row g-3">
      <div class="col-lg-3"></div>
      <!-- <div class="col-lg-6 mx-auto">
        <div class="input-group mb-3">
          <input type="search" class="form-control" placeholder="بحث " [(ngModel)]="textSearch">
          <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
      </div> -->
      <div class="col-lg-3"></div>
      <div class="col-lg-12">
       <!--  <p-table [value]="ordersList"> -->
        <p-table [value]="ordersList" [paginator]="true" [rows]="PageSize" [rowsPerPageOptions]="[5, 10, 20]"
        (onPage)="onPageChange($event)" [showCurrentPageReport]="true" [totalRecords]="totalCount" [rowHover]="true"
        responsiveLayout="scroll" [lazy]="true" currentPageReportTemplate="">


          <ng-template pTemplate="header">
            <tr>
              <th>رقم</th>
              <th>الاسم</th>
              <th>المحافظة</th>
              <th>الهاتف</th>
              <th>تاريخ الطلب</th>
              <th>المنتجات</th>
              <th>المبلغ</th>
              <th>الحالة</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.clientName}}</td>
              <td>{{order.governorateName}}</td>
              <td>{{order.phone}}</td>
              <td>{{order.created | date: 'dd/MM/yyyy'}}</td>
              <td>{{order.productName}}

              </td>
              <td>{{order.productPrice | number:'1.0-0'}} <sub> جنية </sub></td>
              <td>
                  <small *ngIf="order.orderStatus == 2" class="badge  d-inline-flex px-3 py-1 fw-semibold text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2 me-2">قيد الانتظار</small>
                  <small *ngIf="order.orderStatus == 1" class="badge  d-inline-flex px-3 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 me-2">تم التجهيز</small>

              </td>
              <td>
                <a class="btn btn-sm btn-info mx-2" [routerLink]="['../view-order', order?.id]"><i class="fa-solid fa-eye"></i></a>
                <a class="btn btn-sm btn-primary mx-2" [routerLink]="['../edit-order', order?.id]"><i class="fa-regular fa-pen-to-square"></i></a>
                <button class="btn btn-sm btn-danger mx-2"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="orderDelete(order.id)"><i class="fa-solid fa-trash-can"></i></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
    </div>
</section>
<p-toast ></p-toast>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> حذف منتج</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>
        هل تريد حذف هذا الطلب
      </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-danger" (click)="deleteOrder()" data-bs-dismiss="modal">نعم</button>
      </div>
    </div>
  </div>
</div>
