<section class="add-products-page py-5">
    <div class="container">
        <div class="title d-flex justify-content-between pb-2 border-bottom mb-4">
            <h2 class="fw-bold  mb-0">تعديل خدمة</h2>
            <button class="btn btn-outline-warning px-4 text-dark ms-auto" (click)="updateProduct()">
                <span>حفظ</span>
            </button>
            <a routerLink="../../view-products" class="btn btn-outline-secondary px-4 text-dark ms-2"> رجوع <i
                    class="fa-solid fa-arrow-left ms-1"></i></a>
        </div>
    </div>
    <form class="form " (ngSubmit)="updateProduct()" [formGroup]="formProduct">
        <div class="container add-item  mb-3 ">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div class="">
                        <label for="nameAr" class="form-label">اسم الخدمة</label>
                        <input type="text" class="form-control" formControlName="nameAr" id="nameAr"
                            placeholder="اسم الخدمة">

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="">
                        <label for="categoryId" class="form-label">الفئة</label>
                        <select class="form-select" id="categoryId" formControlName="categoryId">
                            <option value="" selected>اختر الفئة</option>
                            <option *ngFor="let category of categories" [value]="category.id">{{category.nameAr}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="">
                        <label for="LocationIds" class="form-label"> المناطق</label>
                        <p-multiSelect [options]="governorates" optionValue="id" optionLabel="nameAr" styleClass="w-100"
                            formControlName="LocationIds" display="chip" [showClear]="true"
                            placeholder="مناطق الخدمة" />
                    </div>
                </div>
                <div class="col-lg-12" style="display: none;">
                    <div class="d-flex justify-content-evenly">

                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="showHome"> نشر الخدمة و عرضه </label>
                            <input type="checkbox" formControlName="showHome" class="form-check-input" id="showHome">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="">
                        <label for="descAr" class="form-label"> تفاصيل الخدمة </label>
                        <textarea name="descAr" formControlName="descAr" class="form-control" id="descAr"
                            rows="3"></textarea>


                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="">
                        <label for="detailAr" class="form-label">مميزات الخدمة </label>
                        <textarea name="detailAr" formControlName="detailAr" class="form-control" id="detailAr"
                            rows="3"></textarea>

                        <!-- <p-editor name="detailAr" formControlName="detailAr" id="detailAr" [dir]="'rtl'"
                                                                                                                            [style]="{ height: '320px', direction: 'rtl' }"></p-editor> -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="">
                        <label for="Fees" class="form-label"> صورة الخدمة</label>
                        <input type="file" id="images" (change)="onFileChange($event)" accept="image/*" multiple
                            class="form-control" /> <!-- <div class="text-danger" *ngIf="formProduct.get('imageForm')?.invalid && formProduct.get('imageForm')?.touched">
                   <div *ngIf="formProduct.get('imageForm')?.getError('required')">هذا الحق اجبارى</div> </div> -->
                    </div>
                </div>
                <div class="categories-page py-5">

                    <div class="container">
                        <h3 class="fw-bold mb-5">صور الخدمة</h3>

                        <owl-carousel-o [options]="customOptions">

                            <ng-container *ngFor="let slide of  product.images">
                                <ng-template carouselSlide>
                                    <a class="text-center">
                                        <div class="image image-product">
                                            <img [src]="this.backendurl+slide.imagePath" [alt]="slide.id"
                                                class="w-100 h-100 object-fit-contain">
                                            <button class="delete-btn" type="button"
                                                (click)="deleteImage(slide.id); $event.stopPropagation();">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </a>
                                </ng-template>
                            </ng-container>


                            <ng-container *ngFor="let slide of  images">
                                <ng-template carouselSlide>
                                    <a class="text-center">
                                        <div class="image image-product">
                                            <img [src]="slide.previewUrl" [alt]="slide.id"
                                                class="w-100 h-100 object-fit-contain">
                                            <button class="delete-btn" type="button"
                                                (click)="removeImage(slide.id); $event.stopPropagation();">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </a>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <div class="d-flex mt-4" style="gap: 10px;">
                    </div>

                </div>

            </div>
        </div>
    </form>

</section>
<p-toast></p-toast>