<section class="category-page governorates-page py-5">
  <div class="container">
    <div class="title d-flex justify-content-between pb-2 border-bottom mb-4">
      <h2 class="fw-bold mb-0">تعديل على الطلب رقم {{orderDetails?.id}}</h2>
      <button type="submit" form="orderForm" class="btn btn-outline-warning px-4 text-dark ms-auto">
        <i class="fa-solid fa-floppy-disk me-1"></i>
        تحديث
      </button>
      <a routerLink="../../order" class="btn btn-outline-secondary px-4 text-dark ms-2">
        رجوع <i class="fa-solid fa-arrow-left ms-1"></i>
      </a>
    </div>
    <div class="container">
      <form id="orderForm" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6 mb-3">
            <label for="clientName" class="form-label">اسم العميل</label>
            <input type="text" id="clientName" formControlName="clientName" class="form-control" required>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="productName" class="form-label">اسم المنتج</label>
            <input type="text" id="productName" formControlName="productName" class="form-control" required>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="phone" class="form-label">الهاتف</label>
            <input type="text" id="phone" formControlName="phone" class="form-control" required>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="whatsApp" class="form-label">الواتساب</label>
            <input type="text" id="whatsApp" formControlName="whatsApp" class="form-control" required>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="governorateId" class="form-label">المحافظة</label>
            <select id="governorateId" formControlName="governorateId" class="form-select" (change)="changeStatus($event)" required>
              <!-- <option [value]="orderDetails?.governorateId" selected hidden>{{orderDetails?.governorateName}}</option> -->
              <option *ngFor="let governorate of governorates" [value]="governorate.id">{{governorate.nameAr}}</option>
            </select>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="deliveryPrice" class="form-label">سعر التوصيل</label>
            <div class="form-control text-light">{{orderDetails?.productPrice + orderDetails?.productPrice}}</div>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="productPrice" class="form-label">سعر المنتج</label>
            <input type="number" id="productPrice" formControlName="productPrice" class="form-control" required>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="totalOrderPrice" class="form-label">السعر الإجمالي</label>
            <input type="number" id="totalOrderPrice" formControlName="totalOrderPrice" class="form-control" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="address" class="form-label">العنوان</label>
            <input type="text" id="address" formControlName="address" class="form-control" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="notes" class="form-label">ملاحظات</label>
            <textarea id="notes" formControlName="notes" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<p-toast></p-toast>
